# Node.js
node_modules/
package-lock.json

# Testes / Playwright
test-results/
screenshots/
reports/
*.png
blob-reports/
playwright-report/

# Docker / Jenkins
.jenkins/
infra/localstack/

# Outros
.env
.DS_Store
